:root {
  --stitch-size: 20px;
}

body {
  font-family: monospace;
  background: #000;
  color: #ddd;
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

body > header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

body > header nav {
  display: flex;
  flex-direction: row;
  gap: 7px;

  button {
    padding: 3px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eee;
    border: none;
    outline: none;
    height: 22px;
    aspect-ratio: 1 / 1;
    border-radius: 10%;
    text-transform: uppercase;
    cursor: pointer;

    &:hover, &.active {
      outline: 2px solid #7dab38;
      outline-offset: 2px;
    }
  }

  a {
    text-decoration: none;
  }

  a.gap {
    margin-left: auto
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 2em;

  &.grab     { cursor: grab     }
  &.grabbing { cursor: grabbing }
}

@property --yarn {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
}

table.design {
  border-collapse: collapse;
  /* transition: scale .1s; */
  table-layout: fixed;

  td {
    border: 1px solid #888;
    background-color: var(--yarn);


    div {
      width: var(--stitch-size);
      aspect-ratio: 1;
      background-position: center;
      background-size: 70%;
      background-repeat: no-repeat;
      /* mix-blend-mode: difference; */
      filter: invert(100%);

      /* &:hover {
        background: rgba(256, 256, 256, .2)
      } */
    }

    &[data-stitch="knit"] div { background-image: url(assets/knit.svg) }
    &[data-stitch="pull"] div { background-image: url(assets/pull.svg) }
    &[data-stitch="tuck"] div { background-image: url(assets/tuck.svg) }
    &[data-stitch="miss"] div { background-image: url(assets/miss.svg) }
    &[data-stitch="roc" ] div { background-image: url(assets/roc.svg ) }
    &[data-stitch="loc" ] div { background-image: url(assets/loc.svg ) }
  }
}

#picker {
  background: #000;
  border-radius: 5px;
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-rows: auto auto;
  position: absolute;
  visibility: hidden;

  #picker_square {
    display: block;
    aspect-ratio: 1;
    color: #f00;
    position: relative;
    overflow: hidden;
    background-image:
      linear-gradient(rgba(0,0,0,0),#000),
      linear-gradient(90deg,#fff,currentColor);
  }

  #picker_marker {
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: -7.5px;
    margin-top: -7.5px;
    box-sizing: border-box;
    border: 2px solid #fff;
    outline: 2px solid #000;
    border-radius: 16px;
  }

  #picker_hue {
    background: transparent;
    display: block;
    width: 100%
  }

  #picker_hue::-moz-range-track,
  #picker_hue::-webkit-slider-runnable-track {
    background: linear-gradient(to right,
      #f00   0,
      #ff0  16.66%,
      #0f0  33.33%,
      #0ff  50%,
      #00f  66.66%,
      #f0f  83.33%,
      #f00 100%);
  }
}
