:root {
  --stitch-size: 20px;
}

* {
  font-family: monospace;
}

body {
  background: #000;
  color: #ddd;
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

body > header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 5px;
}

#top_bar {
  display: flex;
  flex-direction: row;
  gap: 5px;
  button {
    border: none;
    outline: none;
    border-radius: 0;
    cursor: pointer;
    color: #aaa;
    background: #333;

    &:hover {
      background: #555;
      color: #ccc;
    }
  }
}
body > header nav:not(#top_bar) {
  display: flex;
  flex-direction: row;
  gap: 5px;

  button {
    padding: 3px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eee;
    border: none;
    outline: none;
    height: 22px;
    aspect-ratio: 1 / 1;
    border-radius: 10%;
    text-transform: uppercase;
    cursor: pointer;

    &:hover, &.active {
      outline: 2px solid #fff;
      outline-offset: 0;
    }
  }

  a {
    text-decoration: none;
  }

  a.gap {
    margin-left: auto
  }
}

#yarn_add {
  border-radius: 50% !important;
  opacity: 0.3;
  height: auto;
  width: auto;
  margin: auto 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 2em;

  &.grab     { cursor: grab     }
  &.grabbing { cursor: grabbing }
}

table.design {
  border-collapse: collapse;
  /* transition: scale .1s; */
  table-layout: fixed;

  td {
    border: 1px solid #888;

    div {
      width: var(--stitch-size);
      aspect-ratio: 1;
      background-position: center;
      background-size: 70%;
      background-repeat: no-repeat;
      /* mix-blend-mode: difference; */
      filter: invert(100%);

      /* &:hover {
        background: rgba(256, 256, 256, .2)
      } */
    }

    &[data-stitch="knit"] div { background-image: url(assets/knit.svg) }
    &[data-stitch="pull"] div { background-image: url(assets/pull.svg) }
    &[data-stitch="tuck"] div { background-image: url(assets/tuck.svg) }
    &[data-stitch="miss"] div { background-image: url(assets/miss.svg) }
    &[data-stitch="roc" ] div { background-image: url(assets/roc.svg ) }
    &[data-stitch="loc" ] div { background-image: url(assets/loc.svg ) }
  }
}

#picker {
  background: #333;
  padding: 10px;
  border: 1px solid #222;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
  display: grid;
  gap: 10px;
  grid-template-rows: auto auto;
  position: absolute;
  visibility: hidden;

  #picker_square {
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: block;
    aspect-ratio: 1;
    color: #f00;
    position: relative;
    overflow: hidden;
    background-image:
      linear-gradient(rgba(0,0,0,0),#000),
      linear-gradient(90deg,#fff,currentColor);
  }

  #picker_marker {
    cursor: grab;
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: -7.5px;
    margin-top: -7.5px;
    box-sizing: border-box;
    border: 2px solid #fff;
    outline: 2px solid #000;
    border-radius: 16px;
  }

  #picker_hue {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    appearance: none;
    background: transparent;
    margin: 0;
    display: block;
    width: 100%
  }

  #picker_hue::-moz-range-track {
    -webkit-appearance: none;
    appearance: none;
    height: .7rem;
    border-radius: 0;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right,
      #f00   0,
      #ff0  16.66%,
      #0f0  33.33%,
      #0ff  50%,
      #00f  66.66%,
      #f0f  83.33%,
      #f00 100%);
  }

  #picker_hue::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: .7rem;
    border-radius: 0;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right,
      #f00   0,
      #ff0  16.66%,
      #0f0  33.33%,
      #0ff  50%,
      #00f  66.66%,
      #f0f  83.33%,
      #f00 100%);
  }

  #picker_hue::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1rem;
    width: .6rem;
    border-radius: 0;
    background: transparent;
    border: 2px solid #fff;
    outline: 2px solid #000;
    border-radius: 4px;
    cursor: grab;
  }

  #picker_hue::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1rem;
    width: .6rem;
    border-radius: 0;
    background: transparent;
    border: 2px solid #fff;
    outline: 2px solid #000;
    border-radius: 4px;
    cursor: grab;
  }
}
