:root {
  --stitch-size: 20px;
}

body {
  font-family: monospace;
  background: #000;
  color: #ddd;
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr;
}

body > header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

body > header nav {
  display: flex;
  flex-direction: row;
  gap: 7px;

  button {
    padding: 3px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eee;
    border: none;
    outline: none;
    height: 22px;
    aspect-ratio: 1 / 1;
    border-radius: 10%;
    text-transform: uppercase;
    cursor: pointer;

    &:hover, &.active {
      outline: 2px solid #7dab38;
      outline-offset: 2px;
    }
  }

  a {
    text-decoration: none;
  }

  a.gap {
    margin-left: auto
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 2em;

  &.grab     { cursor: grab     }
  &.grabbing { cursor: grabbing }
}

@property --yarn {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
}

table.design {
  counter-reset: rows;
  border-collapse: collapse;
  /* transition: scale .1s; */
  table-layout: fixed;

  tr {
    counter-increment: rows;

    &::before {
      content: counter(rows);
      right: 0;
      font-size: .7rem;
      position: absolute;
      line-height: 1.4rem;
      display: table-cell;
      right: calc(100% + .5em);
    }
  }

  td {
    border: 1px solid #888;
    background-color: var(--yarn);


    div {
      width: var(--stitch-size);
      aspect-ratio: 1;
      background-position: center;
      background-size: 70%;
      background-repeat: no-repeat;
      /* mix-blend-mode: difference; */
      filter: invert(100%);

      /* &:hover {
        background: rgba(256, 256, 256, .2)
      } */
    }

    &[data-stitch="knit"] div { background-image: url(knit.svg) }
    &[data-stitch="pull"] div { background-image: url(pull.svg) }
    &[data-stitch="tuck"] div { background-image: url(tuck.svg) }
  }
}
